In [1]:
import pandas as pd

In [9]:
results_2024 = pd.read_csv("Runners_all_results.csv", encoding='latin-1')
mens_results_2024 = results_2024[results_2024["Gender"]=="M"][["RankOverGender","OfficialTime"]]
womens_results_2024 = results_2024[results_2024["Gender"]=="F"][["RankOverGender","OfficialTime"]]
results_compare = mens_results_2024.merge(womens_results_2024, how="inner", on="RankOverGender", suffixes=["Men","Women"])

In [15]:
mens_results_2024.shape

(14578, 2)

In [16]:
womens_results_2024.shape

(10904, 2)

In [10]:
results_compare.head()

   RankOverGender OfficialTimeMen OfficialTimeWomen
0               1         2:06:17           2:22:37
1               2         2:06:58           2:22:45
2               3         2:07:22           2:23:21
3               4         2:07:40           2:24:04
4               5         2:07:47           2:24:04

In [12]:
# Convert the time columns to timedelta objects
results_compare['OfficialTimeMen'] = pd.to_timedelta(results_compare['OfficialTimeMen'])
results_compare['OfficialTimeWomen'] = pd.to_timedelta(results_compare['OfficialTimeWomen'])

# Calculate the time difference
results_compare['time_diff'] = results_compare['OfficialTimeMen'] - results_compare['OfficialTimeWomen']

# Convert the time difference to seconds
results_compare['time_diff_seconds'] = results_compare['time_diff'].dt.total_seconds()

# Calculate the percentage difference (absolute)
results_compare['percent_diff'] = (results_compare['time_diff_seconds'].abs() / results_compare['OfficialTimeMen'].dt.total_seconds()) * 100

In [14]:
# TODO - compare by percentile place not absolute place (because there is a different quantity of men vs. women)
results_compare.tail()

,RankOverGender,OfficialTimeMen,OfficialTimeWomen,time_diff,time_diff_seconds,percent_diff
10899,10900,0 days 04:11:33,0 days 06:29:42,-1 days +21:41:51,-8289.0,54.919499
10900,10901,0 days 04:11:37,0 days 06:30:33,-1 days +21:41:04,-8336.0,55.216268
10901,10902,0 days 04:11:37,0 days 06:31:56,-1 days +21:39:41,-8419.0,55.766046
10902,10903,0 days 04:11:38,0 days 06:33:04,-1 days +21:38:34,-8486.0,56.206120
10903,10904,0 days 04:11:40,0 days 06:34:31,-1 days +21:37:09,-8571.0,56.761589