In [7]:
from data_cleaning import clean_results_df
from web_scrape_results import scrape_results

In [8]:
url = 'https://flashresults.ncaa.com/Outdoor/2024/028-1_compiled.htm'
df = scrape_results(url)
df = clean_results_df(df)

In [9]:
df

     Pl             Athlete      Time
0     1        Parker Valby  31:46.09
1     2      Hilda Olemomoi  31:51.89
2     3          Taylor Roe  32:17.45
3     4          Molly Born  32:27.18
4     5    Chloe Scrimgeour  32:29.44
5     6    Jenna Hutchinsby  32:44.05
6     7  Sydney Thorvaldson  32:50.47
7     8      Grace Hartmann  32:54.98
8     9          Paityn Noe  32:57.29
9    10      Maggie Donahue  33:13.13
10   11       Dani Barrettu  33:15.10
11   12     Sadie Sigfstead  33:18.63
12   13     Gabby Hentemann  33:26.53
13   14      Florence Caron  33:26.98
14   15        Rosina Machu  34:07.11
15   16        Sarah Carter  34:08.75
16   17         Lucy Ndungu  34:18.02
17   18     Sandra Maiyoute  34:26.73
18   19        Purity Sanga  34:31.63
19   20      Savannah Roark  34:43.18
20   21          Ali Upshaw  34:55.74
21  NaN         Lily Murphy       DNF
22  NaN   Amaris Tyynismaan       DNF
23  NaN    Andrea Markezich       DNF