In [7]:
from data_cleaning import clean_results_df
from web_scrape_results import scrape_results

In [8]:
url = 'https://flashresults.ncaa.com/Outdoor/2024/028-1_compiled.htm'
df = scrape_results(url)
df = clean_results_df(df)

In [19]:
top_two = df[df['Pl'].isin(['1','2'])]

In [20]:
top_two

  Pl         Athlete      Time
0  1    Parker Valby  31:46.09
1  2  Hilda Olemomoi  31:51.89

In [21]:
def convert_to_seconds(time_str):
    minutes, seconds = time_str.split(':')
    return int(minutes) * 60 + float(seconds)

In [22]:
top_two['time_in_seconds'] = top_two['Time'].apply(convert_to_seconds)

/var/folders/hw/k51wqqw93751fx50t4_d520c0000gn/T/ipykernel_78361/1575320182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_two['time_in_seconds'] = top_two['Time'].apply(convert_to_seconds)

In [23]:
top_two

  Pl         Athlete      Time  time_in_seconds
0  1    Parker Valby  31:46.09          1906.09
1  2  Hilda Olemomoi  31:51.89          1911.89