In [1]:
import pandas as pd
from data_cleaning import (
    add_time_in_seconds,
    add_victory_margin,
    clean_results_df,
    filter_results_df,
    final_format_all_am,
    final_format_top_two,
    pivot_to_one_row,
)
from web_scrape_results import get_event_name, scrape_results

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [17]:
all_events = pd.DataFrame()
urls = [
    'https://flashresults.ncaa.com/Outdoor/2024/028-1_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/008-1_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/011-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/005-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/006-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/009-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/001-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/003-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/004-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/010-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/002-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/007-1_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/012-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/031-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/025-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/026-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/029-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/021-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/023-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/024-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/030-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/022-2_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/027-1_compiled.htm',
    'https://flashresults.ncaa.com/Outdoor/2024/032-2_compiled.htm'
]
for url in urls:
    df = scrape_results(url)
    event_name = get_event_name(url)
    print(event_name)
    df['event'] = event_name
    all_am_filter = min('8',df.Pl.max())
    all_am = filter_results_df(df, list(map(str, list(range(1,int(all_am_filter)+1)))))
    # if all_am_filter != '8':
    #     all_am.loc[all_am["Pl"] == all_am_filter, "Pl"] = "8"
    # all_am = clean_results_df(all_am, event_name)
    # pivot_df_all_am = pivot_to_one_row(all_am)
    # final_df_all_am = final_format_all_am(pivot_df_all_am)
    # try:
    #     all_events = pd.concat([all_events, final_df_all_am])
    # except TypeError:  # Catch the specific exception for when all_events is not a list or DataFrame
    #     all_events = final_df_all_am  # Initialize all_events with final_df

Women 10000 M (Final)
Men 10000 M (Final)
Men 4x100 M Relay (Final)
Men 1500 M (Final)
Men 3000 M Steeple (Final)
Men 110 M Hurdles (Final)
Men 100 M (Final)
Men 400 M (Final)
Men 800 M (Final)
Men 400 M Hurdles (Final)
Men 200 M (Final)
Men 5000 M (Final)
Men 4x400 M Relay (Final)
Women 4x100 M Relay (Final)
Women 1500 M (Final)
Women 3000 M Steeple (Final)
Women 100 M Hurdles (Final)
Women 100 M (Final)
Women 400 M (Final)
Women 800 M (Final)
Women 400 M Hurdles (Final)
Women 200 M (Final)
Women 5000 M (Final)
Women 4x400 M Relay (Final)

In [18]:
all_am

  Pl                          Team     Time                        event
0  1              ARKANSASArkansas  3:17.96  Women 4x400 M Relay (Final)
1  2            TENNESSEETennessee  3:23.32  Women 4x400 M Relay (Final)
2  3                    TEXASTexas  3:23.68  Women 4x400 M Relay (Final)
3  4                GEORGIAGeorgia  3:24.26  Women 4x400 M Relay (Final)
4  5                HOUSTONHouston  3:24.73  Women 4x400 M Relay (Final)
5  6  SOUTH CAROLINASouth Carolina  3:24.86  Women 4x400 M Relay (Final)
6  7                  OREGONOregon  3:25.82  Women 4x400 M Relay (Final)
7  8            TEXAS A&MTexas A&M  3:25.89  Women 4x400 M Relay (Final)